*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#dbd5d5, #4e32ca);
}

.container{
   margin: 0 20px;
   
}

.form-box{
    width: 100%;
    max-width: 400px;
    padding: 40px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    display: none;

}

.form-box.active{
    display: block;
}

h2{
    text-align: center;
    font-size:30px;
    margin-bottom: 35px;
}

input{
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    background: #00000041;
    border: none;
    outline: none;
}

label{
    font-size: 18px;
    color: #333;
}

p{
    font-size: 16px;
    color: #666;
    text-align: center;
    margin-top: 20px;
}

a{
    color: #4e32ca;
    text-decoration: none;
}

button{
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    background: #4e32ca;
    border: none;
    outline: none;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: #3b27a1;
}

.error-message{
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}
